#container {
    display: grid;
    grid-template-areas: 
    "header header header header"
    "display display display history";
    width: 75%;
    margin: 0 auto;
    grid-gap: 10px;
}

header {
    background-color: teal;
    grid-area: header;
    text-align: center;
    border: 2px solid black;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    padding: 40px;
}

.display {
    grid-area: display;
    display: grid;
    grid-template-areas: 
    "display-section display-section display-section"
    "three-days-weather three-days-weather three-days-weather";
}

#display-section {
    grid-area: display-section;
    background-color: rgb(230, 227, 227);
    border: 1px solid teal;
}

.display p {
    text-align: center;
}

.display-info span {
    display: block;
    text-align: center;
    margin: 10px;
}

.history {
    grid-area: history;
}

#three-days-weather ul li{
    list-style: none;
    padding: 5px;
}

#three-days-weather{
    grid-area: three-days-weather;
    display: grid;
    grid-template-columns: repeat(3,1fr);
}

h2, h3 {
    text-align: center;
}